* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #AA4339;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: unset;
    font-variant: small-caps;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 100px #000;
}

.human-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    flex-direction: column;
    background-color: #86A136;
}

.machine-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    flex-direction: column;
    background-color: #29516d;
}

.input-text {
    width: 300px;
    border-radius: 15px;
    height: 50px;
    margin-top: 10px;
}